# Python environments
backend/venv/
backend/venv_wsl/
frontend_rio/venv/
frontend_rio/venv_wsl/

# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log
backend/backend.log

# IDE configs
.vscode/
.idea/

# Git
.git/
.gitignore

# Temporary files
*.swp
*.swo
